
.track-item {width :50vw;margin: auto;margin-top: 5px; padding:5px;border: 1px darkgray solid;}
.mat-grid-tile h1 h2 {
    font-size: 1rem;
    margin: 0;
}
.mat-grid-tile img {min-width:100%;}

.track-info {
    padding-left: 1%;
    width: 100%;
    justify-content: flex-start !important;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}